<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <div id="header"></div>
    <title>Jobs of chubot</title>
</head>
<!--The ng-app attribute tells Angular which parts of the page it should manage.-->
<!--we told our ng-app element about the name of our module, myApp.-->
<body>
<div class="container-fluid">
    <div id="nav"></div>
    <div ng-app="myApp">
        <!--By including a controller in the div tag, I’m declaring that this controller will manage everything between <div> and </div>.-->
        <!--ng-controller 指令定义了应用程序控制器。-->
        <!--控制器是 JavaScript 对象，由标准的 JavaScript 对象的构造函数创建。-->
        <!--控制器的 $scope 是控制器所指向的应用程序 HTML 元素。-->
        <div ng-controller="AdminController">
            <!--The ng-model definition creates data binding between the input field and the value of yourname.-->
            <h1>添加jar到classpath</h1>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">输入</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1"></span>
                            <input id="inputJars"  type="text" class="form-control"  ng-model="jars" placeholder="Jars separated by ';'">
                            <span class="input-group-btn">
                                <button id="commitJob" class="btn btn-default" type="button" ng-click="addJars($event, jars)">Add!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Example</h2>
                </div>
                <div class="panel-body">
                    <pre>/home/work/project/ub-lab/tagbase/src/tagextract/target/tagextract-1.0-SNAPSHOT.jar</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript" ></script>-->
<script src="/lib/jquery/jquery-2.1.4.min.js" type="text/javascript" ></script>
<script src="/lib/angular/angular-1.4.4.js" type="text/javascript" ></script>
<script src="/js/common.js" type="text/javascript" ></script>
<div id="footer"></div>
<script src="/js/admin-cntr.js" type="text/javascript" ></script>
<script>
    $(function(){
        $("#header").load('/template/header.html');
        $("#footer").load('/template/footer.html');
        $("#nav").load('/template/nav.html');
    });
</script>
</body>
</html>
