<!DOCTYPE html>
<html>
<head>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <meta charset="utf-8">
    <div id="header"></div>
    <title>Jobs of chubot</title>
</head>
<body>
<div class="container">
    <div id="nav"></div>
    <div class="section">
        <div class="row">
            <div class="col-sm-5">
                <div class="basic-login" ng-app="myApp" >
                    <form name="loginForm" role="form" ng-submit="loginUser()" ng-controller="LoginController">
                        <div class="form-group">
                            <label for="login-user"><i class="icon-user"></i> <b>User name or Email</b></label>
                            <input limit-to="32" class="form-control" id="login-user" required ng-model="login.user">
                        </div>
                        <div class="form-group">
                            <label for="login-password"><i class="icon-lock"></i> <b>Password</b></label>
                            <input limit-to="16" class="form-control" id="login-password" required ng-model="login.password" type="password" placeholder="">
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="login.isRemember"> Remember me
                            </label>
                            <a href="/user/forgot.html" class="forgot-password">Forgot password?</a>
                            <button type="submit" class="btn btn-primary pull-right">Login</button>
                        </div>
                        <div class="alert {{status}}" role="alert" ng-show="isShowAlert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{alertInfo}}
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-7 social-login">
                <p>分布式爬虫系统chubot,欢迎使用</p>
                <div class="not-member">
                    <p>Not a member? <a href="/user/register.html">Register here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/lib/jquery/jquery-2.1.4.min.js" type="text/javascript" ></script>
<script src="/lib/angular/angular-1.4.4.min.js" type="text/javascript" ></script>
<script src="/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/lib/crypto/md5.js" type="text/javascript" ></script>
<script src="/lib/crypto/sha1.js" type="text/javascript" ></script>
<script src="/js/common.js" type="text/javascript" ></script>
<script src="/js/login.js" type="text/javascript" ></script>
<div id="footer"></div>
<script type="text/javascript">
    $(function(){
        $("#header").load('/template/header.html');
        $("#footer").load('/template/footer.html');
        $("#nav").load('/template/nav.html');
    });
</script>
</body>
</html>
