<div class="section">
    <div class="row">
        <div class="col-sm-5" ng-cloak>
            <div class="basic-login">
                <form name="loginForm" role="form" ng-submit="loginUser()">
                    <div class="form-group">
                        <label for="login-user"><i class="icon-user"></i> <b>用户名/邮箱</b></label>
                        <input limit-to="32" class="form-control" id="login-user" required ng-model="login.user" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="login-password"><i class="icon-lock"></i> <b>密码</b></label>
                        <input limit-to="16" class="form-control" id="login-password" required ng-model="login.password" type="password" placeholder="">
                    </div>
                    <div class="form-group">
                        <input class="form-control captcha" ng-model="captchaVal" maxlength="6" placeholder="验证码" required><captcha></captcha>
                    </div>
                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="login.remember" ng-click="doRemember()"> 记住我
                        </label>
                        <a href="/view/user/forgot.html" class="forgot-password">忘记密码?</a>
                        <button type="submit" class="btn btn-primary pull-right">登录</button>
                    </div>
                    <alert-prompt para="alertPara"></alert-prompt>
                </form>
            </div>
        </div>
        <div class="col-sm-7 social-login">
            <p>分布式爬虫系统chubot,欢迎使用</p>
            <div class="not-member">
                <p>不是会员? <a href="/user/register">注册</a></p>
            </div>
        </div>
    </div>
</div>
<script src="/lib/crypto/sha1.js"></script>
<script src="/lib/crypto/md5.js"></script>
<script src="/js/user/login.js"></script>