<div class="section">
    <div class="row">
        <div class="col-sm-5">
            <div class="basic-login">
                <form role="form">
                    <div class="form-group">
                        <label for="register-username"><i class="icon-user"></i> <b>Email</b></label>
                        <input class="form-control" id="register-username" type="text" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="register-password"><i class="icon-lock"></i> <b>Password</b></label>
                        <input class="form-control" id="register-password" type="password" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="register-password2"><i class="icon-lock"></i> <b>Re-enter Password</b></label>
                        <input class="form-control" id="register-password2" type="password" placeholder="">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn pull-right">Register</button>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-7 social-login">
            <p>分布式爬虫系统chubot,欢迎使用</p>
        </div>
    </div>
</div>